<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="container">
          <div  class="row">  
            <h1><%= part.vendor_name %>: <%= part.vendor_sku %></h1>
          </div>  
          <hr>
          <div class="row">
            <h2><%= part.manufacturer_name %></h2>
            <h2><%= part.part_name %></h2>
            <p><%= part.part_description %></p>
          </div> 
          <a class="btn w3-theme-d1" href="/list-parts">Back To Search List</a>
        </main>
        <%- include('../includes/end.ejs') %>