<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
      <%- include('../includes/navigation.ejs') %>
      <div class="container-fluid px-0">  
        <div class="col col-12">
          <div class="row w3-theme-d1">

            <div class="col col-6 mt-3">
              <div class="row ml-1 mt-0 mr-0">  
<%if (!searchValue) { %>
                
                <% if (offset > 0) { %>
                  <div class="col col-2 px-0 w3-theme-l5">
                    <a class="mx-1 text-dark" href="/list-parts-previous/?offset=<%= offset %>&limit=<%= limit %>"><strong><< Back</strong></a>
                  </div>
                <% } %>
                <div class="col col-2 px-0 w3-theme-l5">
                    <a class="mx-1 text-dark" href="/list-parts-next/?offset=<%= offset %>&limit=<%= limit %>"><strong>Next >></strong></a> 
                </div>
<% } %>                
                <div class="col col-4 px-0 w3-theme-l5">
                    <span class="row mx-1">Showing records: </span>
                    <span class="row mx-1"><strong><%= offset %> to <%= offset + limit %></strong> </span>
                </div>
              </div>  
            </div>

            <form class="col col-6  mt-3" action="/part-search" method="POST" >
              <div class="input-group mb-3">  
                <div class="input-group-prepend">
                    <button class="btn w3-theme-d2 btn-outline-primary" type="submit"><span class="mx-2">Search</span></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" placeholder="Search" class="form-control"  name="searchParameter" id="search-box" aria-label="Search Parts Data" value="<%= searchValue %>" placeholder="Search">
                <select class="w3-theme-d2" id="searchType" name="searchType">
                    <option value="1" selected>Part Starts With</option>
                    <option value="2">Exact Part</option>
                    <option value="3">Part Keyword</option>
                </select>
              </div>            
            </form>
          </div>
        </div>

            <main>
                <% if (parts.length > 0) { %>
                    <div class="container-fluid">
                      <div class="row"> 
                        <table  class="table table-striped"> 
                          <thead>  
                            <tr><th>Details</th>
                                <th>Part Number</th>
                                <th>Manufacturer</th>
                                <th>Vendor</th>
                                <th>Vendor Sku</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th>Listed Price</th>
                                <th>Weight</th>
                                <th>MSRP</th>
                                <th>Name</th>
                                <th>Age</th>
                            </tr>
                          </thead>
 
                          <tbody>
                            <% for (let part of parts) { %>
                                <tr><td><a href="/part-detail/<%= part.parts_inventory_id %>"><img src="/images/compare.png" /></a></td>
                                    <td><%= part.part_number %></td>
                                    <td><%= part.manufacturer_name %></td>
                                    <td><%= part.vendor_name %></td>
                                    <td><%= part.vendor_sku %></td>
                                    <td><%= part.quantity %></td>
                                    <td><%= part.cost %></td>
                                    <td><%= part.listed_price %></td>
                                    <td><%= part.weight %></td>
                                    <td><%= part.msrp %></td>
                                    <td><%= part.part_name %></td>
                                    <td><%= Math.trunc((new Date()-part.date_loaded)/(1000*60*60*24)) %> days</td>
                                </tr>
                            <% } %>
                          </tbody>
                        </table>  
                      </div>  
                    </div>
                    <% } else { %>
                        <h1>No Parts Found!</h1>
                    <% } %>
            </main>
      </div>      
      <%- include('../includes/end.ejs') %>