<%- include('../includes/head.ejs') %>
    </head>
    <body>
      <%- include('../includes/navigation.ejs') %>
      <main class="container-fluid px-0">  


                <%- include('./part-search-menu')%>



        <% if (parts.length > 0) { %>
            <div class="col col-12 px-0">
              <div class="row mx-0"> 
                <table  class="table col-12 table-striped"> 
                  <thead>  
                    <tr><th>Details</th>
                        <th>Part Number</th>
                        <th>Manufacturer</th>
                        <th>Vendor</th>
                        <th>Vendor Sku</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Listed Price</th>
                        <th>Weight</th>
                        <th>MSRP</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for (let part of parts) { %>
                        <tr><td><a href="/part-detail/<%= part.parts_inventory_id %>"><img src="/images/compare.png" /></a></td>
                            <td><%= part.part_number %></td>
                            <td><%= part.manufacturer_name %></td>
                            <td><%= part.vendor_name %></td>
                            <td><%= part.vendor_sku %></td>
                            <td><%= part.quantity %></td>
                            <td><%= part.cost %></td>
                            <td><%= part.listed_price %></td>
                            <td><%= part.weight %></td>
                            <td><%= part.msrp %></td>
                            <td><%= part.part_name %></td>
                            <td><%= Math.trunc((new Date()-part.date_loaded)/(1000*60*60*24)) %> days</td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>  
              </div>  
            </div>
            <% } else if (offset > 0) { %>
                <h1 class="my-5 text-center text-primary font-weight-bold">No More Parts In List</h1>
            <% } else { %>
                <h1 class="my-5 text-center text-danger font-weight-bold">No Parts Found!</h1>
            <% } %>
      </main>
   
      <%- include('../includes/end.ejs') %>