<%- include('../../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../../includes/navigation.ejs') %>
        <%- include('../../includes/functions.ejs') %>
            <main>
                <div class="col col-12 px-0">
                    <div class="row w3-theme-d1">
                        <a class="btn w3-theme-d1 my-2" href="show-loader-params"> << Back To Admin Menu</a>
                    </div>
                    <h4 class="text-center w3-theme-d1 pb-3 mb-0">Problems / Issues / Requests</h4>
                </div>  

                <div class="container-fluid px-0">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger"><%= errorMessage %></div>
                    <% } %>
                    <% if (infoMessage) { %>
                        <div class="alert alert-primary"><%= infoMessage %></div>
                    <% } %>
                    
                    <form class="col col-10 mx-auto mt-3" action="/admin/post-request" method="POST" >
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
 
                        <div class="input-group mb-3"> 
                            <label class="col-4 label px-0" for="category">What kind of Request is this?</label>
                            <select class="col-6 w3-theme-l2 text-dark px-0" id="category" name="categoryName" autofocus>
                                <option value="Request" selected>Request for something new</option>
                                <option value="Error" selected="selected">Something isn't working correctly</option>
                                <option value="Dont Like">Something works, but it needs to change</option>
                            </select>
                        </div>

                        <div class="form-group"> 
                            <div>
                                <label class="label col-4" for="request-box">Add Request</label>
                                <textarea rows="6" type="text col-10" placeholder="Please Fix ..." class="form-control"  name="request" id="request-box" aria-label="Request Change" placeholder="Search" ></textarea>
                            </div>
                        </div>

                        <div class="col pb-5">
                            <button class="btn w3-theme-d2 btn-outline-primary" type="submit"><span class="mx-2">Submit</span></button>
                        </div>
                    </form>


                    <hr>
                    <% if (params.length > 0) { %>
                    <div class="row mx-0">
                        <div class="col-2 mx-auto label">Requests Submitted</div>
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th scope="col">Request ID</th>
                              <th scope="col">Category</th>
                              <th scope="col">Date Created</th>
                              <th scope="col">Request Text</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (let param of params) { %>
                                <tr><td><%= param.user_request_id %></td>
                                    <td><%= param.category_type %></td>
                                    <td><%= formatDate(param.date_created) %></td>
                                    <td><%= param.request_text %></td>
                                </tr>
                            <% } %>
                          </tbody>  
                        </table>
                    </div>
                  <% } %>
                </div>

            </main>
            <%- include('../../includes/end.ejs') %>