<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (params.length > 0) { %>
                    <div class="container">
                        <table class="table"> 
                          <thead>
                            <tr><th>Vendor ID</th>
                                <th>Vendor Short Name</th>
                                <th>Vendor Name</th>
                                <th>Is ChannelOnline Supplier?</th>
                            </tr>
                          </thead>

                        <% for (let param of params) { %>
                            <tr>    
                                <td>
                                    <a class="btn" data-toggle="collapse" href="#download<%=param.vendor_short_name %>" role="button" aria-expanded="false" aria-controls="collapseDownloadData">
                                    <%= param.vendor_id %>
                                    </a>
                                </td>
                                <td><%= param.vendor_short_name %></td>
                                <td><%= param.vendor_name %></td>
                                <td><%= param.is_channelonline_compatible %></td>
                            </tr>
                            <tr class="w-100">
                            <td class="collapse.show w-100" id="#download<%=param.vendor_short_name %>">
                                <div class="card card-body w-100">
                                    <p><%= param.ftp_server %></p>
                                    <p><%= param.txc_username %></p>
                                    <p><%= param.txc_password %></p>
                                    <p><%= param.reader_type %></p>
                                    <p><%= param.parts_file_name %></p>
                                    <p><%= param.ftp_file_location %></p>
                                    <p><%= param.account_number %></p>
                                    <p><%= param.has_etilize_data %></p> 
                                    <p><%= param.etilize_name %></p> 
                                    <p><%= param.is_manual_load %></p> 
                                    <p><%= param.manual_file_name %></p> 
                                </div> 
                            </td>                               
                            </tr>



                        <% } %>
                       
                        </table>
                    </div>
                    <% } else { %>
                        <h1>No Vendors Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>